# --- Django / Python 
__pycache__/
*.py[cod]
*$py.class

# Ambiente Virtual 
venv/
.venv/
env/

# Banco de Dados 
db.sqlite3

# Variáveis de Ambiente 
.env

# Pastas de IDE
.idea/
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.dbm 